<div class="container text-center">
	<div class='col-md-10 col-md-offset-1 text-left'>
		Country:<%= @listing.country %><br>
		State:<%= @listing.state %><br>
		City:<%= @listing.city %><br>
		Address:<%= @listing.address %><br>
		Room Type:<%= @listing.room_type %><br>
		Home Type:<%= @listing.home_type %><br>
		Guest Number:<%= @listing.guest_number %> pax<br>
		Price per night: RM<%= @listing.price_per_night %>
	</div>
	<div class="col-md-offset-1"></div>
</div>