<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email', placeholder: 'Your email', required: true %>
</div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password, placeholder: 'Your password', required: true %>
</div>

<div>
<%= form.label :first_name %>
<%= form.text_field :first_name, placeholder: 'Your first name', required: true %>
</div>

<div>
<%= form.label :last_name %>
<%= form.text_field :last_name, placeholder: 'Your last name', required: true %>
</div>

<div>
	<%= form.label :gender %>
	<%= form.select :gender, [['Male', 'M'], ['Female', 'F']] %>
</div>

<div>
<%= form.label :phone_number %>
<%= form.text_field :phone_number, placeholder: 'Your phone number' %>
</div>

<div>
	<%= form.label :description %>
</div>
	<%= form.text_area :description, placeholder: 'Tell us a little about you! (max. 140 character)', maxlength: 140, size: "30x5" %>



