<div class="container" id='profile_page'>
	<div class='well well-lg text-center'>
		<h2>Your profile</h2>
		<ul>
			<li>First Name: <%= @user.first_name %></li>
			<li>Last Name: <%= @user.last_name %></li>
			<li>Email: <%= @user.email %></li>
			<li>Gender: <%= @user.gender.capitalize %></li>
			<li>Phone Number: <%= @user.phone_number %></li>
			<li>Joined at: <%= @user.created_at.strftime("%m/%d/%Y")%></li>
			<li>Description: <%= @user.description %></li>
		</ul>
		<%= link_to 'Edit profile', edit_user_path(@user) %>
	</div>
</div>