<%= form.error_notification %>

<div>
	<%= form.input :avatar, input_html: { class: 'btn btn-file' },as: :file%>
</div>

<div class="text-field">
  <%= form.input :email, placeholder: 'Your email', required: true %>
</div>

<div class="password-field">
  <%= form.input :password, placeholder: 'Your password'%>
</div>

<div>
<%= form.input :first_name, placeholder: 'Your first name', required: true %>
</div>

<div>
<%= form.input :last_name, placeholder: 'Your last name', required: true %>
</div>

<div>

	<%= form.input :gender, collection: [['Male', 'male'], ['Female', 'female']]%>
</div>

<div>
</div>

<div>
<%= form.input :phone_number, placeholder: 'Your phone number' %>
</div>
<%= form.input :description, placeholder: 'Tell us a little about you! (max. 140 character)', maxlength: 140, size: "30x5" %>



