<% if @reservation && @reservation.errors.any? %>
<!-- move to shared/error partial-->
<div id="error_explanation">
		<div class="alert alert-danger">
			The form contains <%= pluralize(@reservation.errors.count, "error") %>.
		</div>
		<ul>
			<% @reservation.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>
<h2 class='text-center'><%= @listing.title || 'No title given' %></h2>
<div class="container text-center well well-lg listing-show">
	<div class='col-md-10 col-md-offset-1 text-left'>
		<table>
			<tr>
				<th> Country </th>
				<td>: <%= @listing.country %></td>
			</tr>
			<tr>
				<th> State </th>
				<td>: <%= @listing.state %></td>
			</tr>
			<tr>
				<th> City </th>
				<td>: <%= @listing.city %></td>
			</tr>
			<tr>
				<th> Address </th>
				<td>: <%= @listing.address %></td>
			</tr>
			<tr>
				<th> Home type </th>
				<td>: <%= @listing.home_type %></td>
			</tr>
			<tr>
				<th> Room type </th>
				<td>: <%= @listing.room_type %></td>
			</tr>
			<tr>
				<th> Allowed guest number </th>
				<td>: <%= @listing.guest_number %> pax</td>
			</tr>
			<tr>
				<th> Price per night </th>
				<td>: RM<%= @listing.price_per_night %></td>
			</tr>
			<tr>
				<th> Tags </th>
				<td>: <%= @listing.tags_list %>z</td>
			</tr>
			<tr>
				<th> Description </th>
				<td>: <%= @listing.description %></td>
			</tr>
			<tr>
				<th> Images </th><br>
			</tr>
			<tr>
				<% if images = @listing.images %>
				<td>
					<% @listing.images.each.with_index do |image, index| %>
						<button type="button" class="btn" data-toggle="modal" data-target="#listing-image-modal">
						<% if index == 1 %>
							<div class="item active">
						<% else %>
							<div class="item">
						<% end %>
								<%= image_tag(image.normal.url) %>
							</div>
						</button>
					<% end %>
				</td>
				<% else %>
					<td>Dis listing haz no img :(</td>
				<% end %>
			</tr>
		</table>
		<%= render partial: 'public/listings/booking' %>
	</div>
</div>

<div id="listing-image-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <%= render partial: 'public/listings/images' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>