<!DOCTYPE html>
<html>
	<head>
	  <title>LandBnB</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<nav>
			<h2><%= link_to 'LandBnB', root_path %></h2>
			<ul>
				<% if signed_in? %>
	      	<li><%= link_to "#{current_user.first_name}", user_path(current_user) %></li>
	      	<li><%= button_to 'Sign out', sign_out_path, method: :delete %></li>
		    <% else %>
		      <li><%= link_to 'Log in', sign_in_path %></li>
		      <li><%= link_to 'Sign up', sign_up_path %></li>
		      <li><a href="/about">About</a></li>
		    <% end %>
	    </ul>
		</nav>
		<div id="container">
    	<div id="flash">
	      <% flash.each do |key, value| %>
	        <div class="flash <%= key %>"><%= value %></div>
	      <% end %>
  	  </div>
			<%= yield %>
		</div>
	</body>
</html>
